body {
    background-color: #FFFBFA;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }

  
  .br-20 {
    border-radius: 20px;
  }
  
  .navbar {
    background-color: #333;
    padding-right: 75px;

  }
  

  

  .carousel {
    margin-bottom: 20px;
  }

  .white {
    background-color: #f6f8f8"
  }
  
  .carousel img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .sticky-footer {
    width: 100%;
    background-color: #EBEBED;
    color: #000;
    padding-top: 18px;
    padding-left: 15px;
    padding-bottom: 3px;

  }
  .sticky-footer .container {
    padding-left: 20px;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .products .card{
    border-radius: 20px;
  }
 
  #yamaha {
    display: none;
  }
  #kawasaki {
    display: none;
  }
  #suzuki {
    display: none;
  }
 